credentials.json
*pycache*

data/*.json
data/*/*.json
!data/fixtures/*.json

.vscode
*.pyc
*.pyo
credentials.json
htmlcov/*

data/rosters/*
!data/rosters/.gitkeep
data/*/fg_*.json
.DS_Store

*.env
*.env.*

app-id.txt
app.yaml

static/
public/*
!public/.gitkeep