django
requests
dj-database-url
django-prettyjson
django-storages
boto3
google-auth
google-api-core
google-api-python-client
html5lib
nameparser
ujson
uvicorn
urllib3
dateparser
fuzzywuzzy
psycopg2
beautifulsoup4
django-quill-editor
django-reversion