<table>
  <tr>
    <th>pa</th>
    <th>h</th>
    <th>2b</th>
    <th>3b</th>
    <th>hr</th>
    <th>sb</th>
    <th>rbi</th>
    <th>r</th>
    <th>bb</th>
    <th>k</th>
    <th>avg</th>
    <th>obp</th>
    <th>slg</th>
    <th>ops</th>
  </tr>
  <tr>
    <td>{{ stat.plateAppearances }}</td>
    <td>{{ stat.hits }}</td>
    <td>{{ stat.doubles }}</td>
    <td>{{ stat.triples }}</td>
    <td>{{ stat.homeRuns }}</td>
    <td>{{ stat.stolenBases }}</td>
    <td>{{ stat.rbi }}</td>
    <td>{{ stat.runs }}</td>
    <td>{{ stat.baseOnBalls }}</td>
    <td>{{ stat.strikeOuts }}</td>
    <td>{{ stat.avg }}</td>
    <td>{{ stat.obp }}</td>
    <td>{{ stat.slg }}</td>
    <td>{{ stat.ops }}</td>
  </tr>
</table>