<table>
    <tr>
      <th>g</th>
      <th>gs</th>
      <th>ip</th>
      <th>era</th>
      <th>w/l</th>
      <th>sv</th>
      <th>k</th>
      <th>bb</th>
    </tr>
    <tr>
      <td>{{ stat.gamesPitched }}</td>
      <td>{{ stat.gamesStarted }}</td>
      <td>{{ stat.inningsPitched }}</td>
      <td>{{ stat.era }}</td>
      <td>{{ stat.wins }}-{{ stat.losses }}</td>
      <td>{{ stat.saves }}</td>
      <td>{{ stat.strikeOuts }}</td>
      <td>{{ stat.baseOnBalls }}</td>
    </tr>
  </table>