<style>
.search-addon {
    align-items: stretch !important;
}

.search-addon .control {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    align-items: stretch !important;
}

.search-addon .input,
.search-addon .button {
    height: 2.5em !important;
    border-radius: 0 !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.search-addon .control:first-child .input {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.search-addon .control:last-child .button {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
</style>

<form action="/players/search/" class="box">
    <div class="field">
        <div class="field has-addons search-addon">
            <div class="control is-expanded">
                <input name="name" class="input" type="text" placeholder="Search player name (or leave blank for all)" {% if name %}value="{{ name }}"{% endif %}>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>Search</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="columns is-mobile">
            <div class="column">
                <label class="label is-small">Roster</label>
                <div class="control">
                    <div class="select is-small is-fullwidth">
                        <select name="roster_status">
                            <option value="">All</option>
                            <option value="mlb"{% if roster_status == "mlb" %} selected{% endif %}>MLB</option>
                            <option value="minors"{% if roster_status == "minors" %} selected{% endif %}>Minors</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column">
                <label class="label is-small">Owned</label>
                <div class="control">
                    <div class="select is-small is-fullwidth">
                        <select name="owned">
                            <option value="">All</option>
                            <option value="yes"{% if owned == "yes" %} selected{% endif %}>Yes</option>
                            <option value="no"{% if owned == "no" %} selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column">
                <label class="label is-small">Position</label>
                <div class="control">
                    <div class="select is-small is-fullwidth">
                        <select name="position">
                            <option value="">All</option>
                            <option value="P"{% if position == "P" %} selected{% endif %}>P</option>
                            <option value="H"{% if position == "H" %} selected{% endif %}>Hitters</option>
                            <option value="C"{% if position == "C" %} selected{% endif %}>C</option>
                            <option value="DH"{% if position == "DH" %} selected{% endif %}>DH</option>
                            <option value="IF"{% if position == "IF" %} selected{% endif %}>IF</option>
                            <option value="UT"{% if position == "UT" %} selected{% endif %}>UT</option>
                            <option value="OF"{% if position == "OF" %} selected{% endif %}>OF</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if value %}<input name="value" type="hidden" value="true">{% endif %}
</form>