{% extends "base.html" %}
{% load npl_tags %}
{% load humanize %}

{% block content %}

<section class="block" style="padding-top:25px;">
    <h1>Auctions</h1>
    {% if auctions %}
    <table class="table">
        <thead>
            <th>player</th>
            <th>remaining</th>
            <th>leading</th>
            <th>max</th>
            <th></th>
        </thead>
        <tbody>
            {% for a in auctions %}
            <tr>
                <td>
                    <strong><a href="/players/{{ a.player.mlb_id }}/">{{ a.player.name }}</a></strong></br>
                    {% if user.is_staff %}<small><a target="_blank" href="/admin/npl/player/{{ a.player.mlb_id }}/change/"><span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a></small>{% endif %}
                    <small><a target="_blank" href="{{ a.player.mlb_url }}">MLB&nbsp;&rarr;</a></small>
                </td>
                <td>
                    {{ a.time_left|smooth_timedelta }}
                </td>
                <td>${{ a.leading_bid.bid|intcomma }}, {{ a.leading_bid.team_id }}</td>
                <td>${{ a.max_bid.bid|intcomma }}, {{ a.max_bid.team_id }}</td>
                <td>{% if a.can_bid %}{% include "includes/bidding_buttons.html" %}{% else %}You have already bid in this auction.{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no auctions at the moment.</p>
    {% endif %}
</section>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
  $(function(){
    var bid_handler = function(el) {

        el.preventDefault();
        $el = $(this);

        var auctionid = $el.attr('data-auctionid');
        var bid = $('#input-auction-' + auctionid).val();

        $.ajax({
            type: "GET",
            url: '/api/v1/auctions/bid/' +  auctionid + '/?bid=' + bid,
            success: function(response){
                alert(response.message);
                window.location.reload();
            }
        });
    }
    $('body').on('click', 'a.bid-button', bid_handler);
})
</script>
{% endblock %}