<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        {% include "includes/nav.html" %}
        <div class="container">
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <main>{% block content %}{% endblock %}</main>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>