{% extends "base.html" %}
{% load humanize %}

{% block content %}
<section class="block" style="padding-top:25px;">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-16">
    <div class="tile is-parent">
      <article class="tile is-child notification is-light is-primary">
        <p class="title">Player search</p>
        <p class="subtitle">Tracking {{ total_count|intcomma }} unowned players in our database</p>
        <div class="content">
          {% include "includes/search_bar.html" %}
        </div>
      </article>
    </div>
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-light is-warning">
          <p class="title">Recent transactions</p>
          {% regroup transactions by date as date_transactions %}

          {% for date in date_transactions %}
          <p>
            <h1 class="title is-6">{{ date.grouper }}</h1>
            <ul>
            {% for t in date.list %}
            <li><strong>{{ t.transaction_type }}</strong>: {{ t.calculated_team }} &rarr; {{ t.calculated_player }}{% if t.calculated_acquiring_team %} &rarr; {{ t.calculated_acquiring_team }}{% endif %}</li>
            {% endfor %}
            </ul>
          </p>
          {% endfor %}
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-light is-info">
          <p class="title">Events</p>
          <p>
            <ul>
              {% for e in events %}<li><strong>{{ e.date }}</strong>: {{ e.title }}</li>{% endfor %}
            </ul>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}