{% extends "base.html" %}

{% block title %}Pages — The NPL{% endblock %}

{% block content %}
{% regroup pages by collection as collection_pages %}
{% for collection in collection_pages %}
<section class="mb-8">
    <h1 class="mb-3 text-2xl font-bold">{{ collection.grouper }}</h1>
    {% for page in collection.list %}
    <article class="mb-4">
        <h2 class="text-lg font-bold"><a href="/pages/{{ page.slug }}/">{{ page.title }}</a>
            {% if user.is_staff %}<a href="/admin/npl/page/{{ page.id }}/change/" class="text-xs font-normal">edit</a>{% endif %}
        </h2>
        <div class="copy text-sm">{{ page.summary.html|safe }}</div>
        <p><time datetime="{{ page.last_modified|date:'Y-m-d' }}">{{ page.last_modified|date:"N j, Y" }}</time></p>
    </article>
    {% endfor %}
</section>
{% empty %}
<p>No pages yet.</p>
{% endfor %}
{% endblock %}
