{% extends "base.html" %}


{% block content %}
<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
            <img src="{{ p.mlb_image_url }}" alt="{{ p.name }}">
        </div>
        <div class="media-content">
            <p class="title is-2">{{ p.position|default_if_none:"" }} {{ p.name }}</p>
            <p class="subtitle"><strong>{% if p.team %}{{ p.team.name }}{% else %}Unowned{% endif %}</strong></p>
            {% for stat in p.stats reversed %}
                <h2>{{ stat.level }}</h2>
                {% if stat.plateAppearances %}
                  {% include "includes/hitter_stat_row.html" %}
                {% else %}
                  {% include "includes/pitcher_stat_row.html" %}
                {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}