{% extends "base.html" %}

{% block content %}
<section class="hero" style="padding-top: 25px;">
    {% include "includes/search_bar.html" %}

    {% if hitters or pitchers %}
    <nav class="level position-count">
        <div class="level-item has-text-centered">
            <div>
              <p class="heading">Total</p>
              <p class="title">{{ total_count }}</p>
            </div>
          </div>
        {% if hitters %}
        {% regroup hitters by simple_position as position_players %}
        {% for position in position_players %}
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">{{ position.grouper }}</p>
            <p class="title"><a href="#position-{{ position.grouper }}">{{ position.list|length }}</a></p>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if pitchers %}
        <div class="level-item has-text-centered">
            <div>
              <p class="heading">P</p>
              <p class="title"><a href="#position-p">{{ pitchers|length }}</a></p>
            </div>
          </div>
          {% endif %}
      </nav>
      <hr>
      {% endif %}
</section>
<section>
    {% if hitters %}
    {% regroup hitters by simple_position as position_players %}
    {% for position in position_players %}
    <h1 class="title is-3" id="position-{{ position.grouper }}">{{ position.grouper }} ({{ position.list|length }}) <small><a href="#top">top &uarr;</a></small></h1>
    <table class="table">
        <thead>
            <th style="text-align:center;">player</th>
            <th style="text-align:center;">position</th>
            <th style="text-align:center;">age</th>
            <th style="text-align:center;">mlb</th>
            <th style="text-align:center;">mls</th>
            <th style="text-align:center;">opt</th>
            <th style="text-align:center;">stat</th>
        </thead>
        <tbody>
        {% for p in position.list %}{% include "includes/player_row.html" %}{% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
    {% if pitchers %}
    <h1 class="title is-3" id="position-p">Pitchers ({{ pitchers|length }})  <small><a href="#top">top &uarr;</a></small></h1>
    <table class="table">
        <thead>
            <th style="text-align:center;">player</th>
            <th style="text-align:center;">position</th>
            <th style="text-align:center;">age</th>
            <th style="text-align:center;">mlb</th>
            <th style="text-align:center;">mls</th>
            <th style="text-align:center;">opt</th>
            <th style="text-align:center;">stat</th>
        </thead>
        <tbody>
        {% for p in pitchers %}{% include "includes/player_row.html" %}{% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
{% endblock %}