{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <h1>{{ team.name }}</h1>
    </div>
</section>


<section>
    <table class="table">
        <thead>
            <th>player</th>
            <th></th>
            <th>position</th>
            <th>age</th>
            <th>mlb team</th>
        </thead>
        <tbody>
            {% for p in players %}{% include "includes/player_row.html" %}{% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}